.title-container {
  border-radius: 0;
  border: none;
  border-bottom: 1px #690BC8 solid;
}

.title-text {
  font-weight: bold;
}


.custom-title {
  font-size: 18px;
}

.custom-popup {
  font-size: 14px;
}


.btn_custom {
  width: 150px
}

