.sort {
    position: relative;
    &::before {
        content: "\f035d";
        position: absolute;
        right: 0.5rem;
        top: 18px;
        font-size: 0.8rem;
        font-family: "Material Design Icons";
    }
    &::after {
        position:absolute;
        right: 0.5rem;
        content: "\f0360";
        font-family: "Material Design Icons";
        font-size: 0.8rem;
        top: 12px;
    }
}